* {
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: clamp(18px, 1.5rem, 24px);
    background-color: #DBC1A0;
    margin: 0;

    /* PERSONAL NOTE:
       perfectly contrasting camel color: hsl(33, 56%, 67%) on a #fafafa bg 
       may or may not want later: #e6e6e6 mid-light gray */

    --frameColor: #f0f0f0;
    --linkColor: #2571c2;
    --linkColorHover: rgba(37, 113, 194, 0.438);
    --buttonColor: rgb(163, 200, 240);
    --buttonColorHover: rgba(123, 165, 210, 0.489);
    --articleBackground: #fafafa;
    --strong: hsl(33, 56%, 67%);
    --articleTitle: hsl(33, 37%, 41%);
}

a {
    color: var(--linkColor);
    transition: color .5s ease-in-out;
}

a:active {
    opacity: .5;
}

main {
    width: 100vw;
    margin: auto;
    background-color: white;
    padding: 10% 7%;
}

header {
    margin-bottom: 2vh;
}

header div.title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

header .logo {
    min-width: 60px;
    width: 10vmax;
    max-width: 150px;
    object-fit: contain;
    margin: auto;
}

header h1 {
    text-align: justify;
    margin: auto 2vw;
    text-align-last: justify;
    
    font-size: clamp(24px, 4vw, 72px);
}

header nav {
    width: 100%;
    margin: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;

    padding: 0;
    margin: 4vw 0;
}

header nav ul li {
    width: 49%;
    border-top: 1.5vw solid white;
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 4vw 2vw;
    
    background-color: var(--linkColor);
    color: white;
    transition: background-color .5s ease-in-out;
    font-size: clamp(20px, 2vw, 36px);
    text-decoration: none;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
}

header nav a:active {
    background-color: white;
    color: var(--linkColorHover);
}

article {
    background-color: var(--articleBackground);
    padding: 5vw 5vw 8vw 5vw;
}

article strong {
    color: var(--strong);
}

article h2 {
    margin: auto;
    padding: 2vw;
    text-align: center;
    font-size: clamp(28px, 3vw, 48px);
    color: var(--articleTitle);
}

article p {
    padding: 0 10% 1vh 10%;
    font-size: clamp(18px, 1.5vw, 24px);
    line-height: 1.5;
    margin: 1vh auto;
}

article a.button {
    display: block;
    margin: 3vw auto 3vh auto;
    text-align: center;
    color: var(--linkColor);
    background-color: var(--buttonColor);
    width: fit-content;
    padding: 5vw 10vw;
    font-weight: bold;
    font-size: clamp(20px, 2vw, 32px);
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 1s ease-in-out;
}

article a.button:active {
    background-color: rgb(226, 226, 226);
    color: white;
}

div.slides {
    background-color: var(--frameColor);
    width: 100%;
    margin: auto;
}

.frame {
    padding: 3vw 5vw 0 5vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

.frameJs {
    width: 100%;
    overflow: hidden;
    height: 30vh;
    min-height: max-content;
    justify-content: center;
}

img.slide {
    margin: 2vw auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.slides nav {
    display: flex;
    padding: 3vw;
    margin: auto;
    justify-content: space-around;
}

.slides .index {
    color:rgba(0, 0, 0, .6);
    font-size: clamp(18px, 1.5vw, 20px);
}

.slides nav a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: .7;
    
    font-size: clamp(18px, 1.5vw, 20px);
}

.slides nav a:active {
    opacity: 1;
}

.slides .index {
    margin: auto;
}

/* NOT USING ANYMORE

.swipeNextNext {
    animation: 1s ease-in-out 0s 1 forwards nextSwipeNext;
}

.swipeNextCurrent {
    animation: 1s ease-in-out 0s 1 forwards nextSwipeCurrent;
}

.swipeBackNext {
    animation: 1s ease-in-out 0s 1 forwards backSwipeNext;
}

.swipeBackCurrent {
    animation: 1s ease-in-out 0s 1 forwards backSwipeCurrent;
} */

.hide {
    display: none;
}

.fadeOut {
    animation: .5s ease-out 0s 1 forwards fadeOut;
}

.current {
    display: block;
    animation: .5s ease-in 0s 1 forwards fadeIn;
}

footer {
    margin: auto;
    padding: 5vw 3vw 3vw 3vw;
    text-align: center;
    font-size: clamp(18px, 1.5vw, 20px);
}

div.disclaimer {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding: 5vw 3vw 5vw 5vw;
    background-color: rgba(255, 255, 255, .6);
}

.pageNav {
    color: var(--linkColor);
    display: block;
    position: fixed;
    bottom: 1%;
    left: 2%;
    transition: color 1s ease-in-out .125s;
}

.pageNav:hover {
    transition: color .25s ease-in-out .125s;
    color:var(--linkColorHover);
}

/* #region media quiery */

@media only screen and (min-width: 650px) {
    body {
        background-color:aliceblue;

        --articleBackground: #fafafa;
    }

    a:hover {
        color: var(--linkColorHover);
        text-decoration: none;
    }

    main {
        width: 90%;
        max-width: 1600px;
        margin: 8vw auto 5vh auto;
        padding: 3rem;
    }

    header {
        margin-bottom: 1rem;
    }

    header nav {
        width: 100%;
        margin: 1rem 0;
    }

    header nav ul {
        align-items: stretch;
        justify-content: space-between;
        padding: 1rem 0;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    header nav ul li {
        width: 24%;
        border-top: 0;
    }
    
    header nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 1.5rem 1rem;
    }

    header nav a:active {
        background-color: initial;
        color: initial;
    }

    header nav a:hover {
        background-color: white;
        color: var(--linkColorHover);
    }
    
    article {
        background-color: var(--articleBackground);
        padding: 2rem;
    }

    article h2 {
        padding: .5rem;
    }
    
    article p {
        padding: 0 10% 2rem 10%;
    }

    article a.button {
        margin: 1rem auto 2rem auto;
        padding: 1.5rem 3rem;
        width: max-content;
    }

    article a.button:active {
        background-color: initial;
        color: initial;
    }

    article a.button:hover {
        background-color: var(--buttonColorHover);
        color: white;
    }

    .frame {
        padding: .5rem 1.5rem 1rem 1.5rem;
    }

    .frameJs {
        padding: 0 1.5rem 1rem 1.5rem;
        height: 50vh;
    }

    img.slide {
        margin: 1rem auto;
        padding: 1.5rem 1rem .5rem 1rem;

    }

    .slides nav {
        padding: 0 2.5rem 2rem 2.5rem;
    }

    .backBtn::before {
        content: "\00AB";
        margin-right: .25rem;
    }
    
    .nextBtn::after {
        content: "\00BB";
        margin-left: .25rem;
    }
    
}

/* #endregion */

/* #region keyframes */

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        display: block;
        opacity: 0;
    }
    }
    100% {
        opacity: 1;
        display: contents;
    }
}

/* NOT USING ANYMORE

@keyframes nextSwipeNext {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes nextSwipeCurrent {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

@keyframes backSwipeNext {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes backSwipeCurrent {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200%);
    }
} */

/* #endregion */
