* {
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #DBC1A0;

    --frameColor: #f0f0f0;
}

a {
    color: #35669A;
}

main {
    width: 90%;
    margin: 10vh auto;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
}

header nav a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: lowercase;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    margin: auto;
    max-width: 80%;
}

section.slides {
    background-color: var(--frameColor);
    width: 100%;
    margin: auto;
}

.frame {
    position: relative;
    padding: 0 1.5rem 1rem 1.5rem;
    width: 100%;
    min-height: max-content;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
}

.slides nav {
    display: flex;
    padding: 0 1rem 1rem 1rem;
}

.slides .index {
    margin: auto;
}

img.slide {
    margin: auto;
    padding: 1.5rem 1rem .5rem 1rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.slide {
    display: block;
}

.swipeNextNext {
    animation: 1s ease-in-out 0s 1 forwards nextSwipeNext;
}

.swipeNextCurrent {
    animation: 1s ease-in-out 0s 1 forwards nextSwipeCurrent;
}

.swipeBackNext {
    animation: 1s ease-in-out 0s 1 forwards backSwipeNext;
}

.swipeBackCurrent {
    animation: 1s ease-in-out 0s 1 forwards backSwipeCurrent;
}

.hide {
    display: none;
}

.current {
    display: block;
    transform: translateX(0);
}

/* #region media quiery */

@media only screen and (min-width: 600px) {
    body {
        background-color:aliceblue;
    }
    img {
        margin: auto;
        padding: 2.5rem 2rem 1.5rem 2rem;
        object-fit: cover;
        max-width: 100%;
        max-height: 80vh;
    }

    .frame {
        height: 70vh;
    }

    .slides nav {
        display: flex;
        padding: 0 2.5rem 2rem 2.5rem;
    }
}

/* #endregion */

/* #region keyframes */

@keyframes nextSwipeNext {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes nextSwipeCurrent {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

@keyframes backSwipeNext {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes backSwipeCurrent {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200%);
    }
}

/* #endregion */
